
<%= render 'partials/navbar' %>



<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="trial-status trial-expired">
                
            </div>
           <%= link_to "New Showing", new_showing_path %>
        </div>
        <div class="col-md-6 feed">
            
            
        </div>
    </div>
</div>