// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 80px;
    background: #252830;
}

.col-menu li a {
    display: block;
    height: 80px;
    background: #000;
}